<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inbox</title>
</head>
<body>
  <ul>
    <li><a href="http://localhost:3333/user/login">login</a></li>
    <li><a href="http://localhost:3333/user/signup">signup</a></li>
    <li><a href="http://localhost:3333/user/findall">findall</a></li>
    <li><a href="http://localhost:3333/inbox">inbox</a></li>


  </ul>
</body>
</html>